.App {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.7)), url(./img/alc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc((100vh - 2vh));
  text-align: center;
}

.body {
  /* background: #3359DF; */
  background: #ffffff;
  padding: 3em 0;
}

.app-content {
  padding-top: 14%;
  width: 70%;
  /* border: 1px solid blue; */
  /* visibility: hidden; */
}

/* .app-content span { */
  /* visibility: hidden; */
/* } */

.app-content h1 {
  font-size: 80px;
  font-weight: bold;
  /* text-align: left; */
  /* text-shadow: 0px -60px 1px rgba(17, 0, 90, 0.9); */
  /* line-height: 150px; */
}

.app-content h2 {
  font-size: 50px;
  font-weight: bold;
}

div {
  /* border: 1px solid red; */
  /* margin: 3em auto; */
}

h1{
  /* color: rgba(255, 123, 0, 0.9); */
  color: #3359DF;
}

h2 {
  font-size: 50px;
  color: #444444;
  font-weight: 900;
}

h2 span {
  color: #3359DF;
}

header{
  background: #3359DF;
  padding: 0 .3em 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  align-content: center;
  justify-content: center;
}

header ul {
  display: flex;
  list-style-type: none;
  /* border: 1px solid red; */
  /* background: red; */
}

header ul li {
  margin: 1em 1em 0;
}

header a:hover {
  border: 2px solid #FFAF30;
  color: #ffffff;
  text-decoration: none;
  /* font-size: 15px; */
  padding: .3em;
}

header a {
  color: #ffffff;
}

img {
  display: block;
  /* width: 70%; */
}

.lca-component, .learners-component {
  margin: 2em auto;
  background: #3359DF;
  color: #ffffff;
}

.lca-component-description, .learners-component-description {
  margin: 3em auto;
  padding: 0 2em;
  /* border: 1px solid #ffffff; */
}

.lca-component h2, .learners-component h2 {
  color: #FFAF30;
}

.component-bg {
  height: 500px;
}

@media (max-width: 768px) {
  .app-content {
    width: 100%;
    padding-top: 50%;
    /* border: 1px solid red; */
  }
  .app-content h1 {
    font-size: 60px;
  }

  .app-content h2 {
    font-size: 40px;
  }

  .component-bg {
    height: 300px;
  }
}