.App {
  background: linear-gradient(rgba(33, 33, 33, 0.9), rgba(33, 33, 33, 0.9),rgba(33, 33, 33, 0.9)), url(./img/alc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: calc((105vh - 5vh));
  text-align: left;
}

button {
  width: 40%;
  background: #FFAF30;
  padding: 1em .5em;
  font-size: 20px;
  color: #222222;
  cursor: pointer;
  border: none;
  /* text-align: left; */
}

button:hover {
  background: rgb(255, 196, 102);
}

.app-content {
  padding-top: 10%;
  width: 70%;
}

.app-content h1 {
  font-size: 80px;
  font-weight: bold;
}

.app-content h2 {
  font-size: 50px;
  font-weight: bold;
  color: #eeeeee;
  padding: .2em;
  width: 85%;
}

h1{
  color: rgb(255, 196, 102);
}

h2 {
  font-size: 50px;
  color: #222222;
  font-weight: 900;
}

h2 span {
  color: #3359DF;
}

header {
  background: #333333;
  /* background: inherit; */
  padding: .5em 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

header ul {
  list-style: none;
  margin-right: 30px;
}

header ul a, header ul a:hover{
  display: inline-block;
  color: #FFAF30;
  margin: 1em .5em 0;
  text-decoration: none;
}

header img {
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 100%;
  border: 3px solid transparent;
  margin: .2em .2em 0 1em;
}

img {
  display: block;
  /* width: 70%; */
}

.body {
  background: #111111;
  padding: 1em 0 5em;
  margin-top: 5em;
}

.lca-component, .learners-component {
  margin: 5em auto 0;
  background: #ffffff;
  color: #111111;
  box-shadow: -10px -10px 0 rgba(255, 255, 255, 0.8), 10px 10px 0 rgb(127, 128, 129);
}

.lca-component-description, .learners-component-description {
  margin: 3em auto;
  padding: 0 2em;
  /* border: 1px solid #ffffff; */
}

.lca-component button, .learners-component button {
  width: 60%;
}

.lca-component h2, .learners-component h2 {
  color: #FFAF30;
}

.component-bg {
  height: 500px;
  /* box-shadow: 20px 20px 0 rgba(255, 175, 48, 0.7); */
}

.bioFrame {
  box-shadow: 0 3px 3px 10px rgba(0,0,0,0.9);
}

.bioFrame:hover {
  width: 50%;
}

.metrics {
  text-align: center;
  margin-bottom: 5%;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('./img/world.jpg');
  background-position: center;
  background-size: contain;
  /* border: 1px solid red; */
  padding: 5% 0;
  /* margin-bottom: 10%; */
  /* z-index: 10; */
}

.metrics h2 {
  /* font-size: 30px; */
  /* margin: 0; */
  color: #FFAF30;
}

.metrics p {
  line-height: 0;
  font-size: 20px;
}

.metrics span {
  color: #FFAF30;
  font-size: 60px;
}

.sponsors img {
  width: 100%;
  height: 100%;
  /* display: block; */
}

.sponsors h2 {
  color: #FFAF30;
}

.sponsors {
  /* border: 1px solid red; */
  margin-top: 3%;
}

@media (max-width: 768px) {
  .lca-component button, .learners-component button {
    width: 80%;
  }

  .app-content button {
    width: 70%;
    padding: .5em;
  }

  .app-content {
    width: 100%;
    padding-top: 30%;
  }
  .app-content h1 {
    font-size: 50px;
  }

  .app-content h2 {
    font-size: 30px;
    width: 90%;
  }

  .component-bg {
    height: 300px;
  }

  .sponsors img {
    width: 80%;
    height: 50%;
    /* margin-top: 1em; */
    /* border: 1px solid red; */
  }
}