/* @import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Dosis&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  /* background: linear-gradient(45deg, rgb(250, 250, 250), rgb(250, 250, 250)); */
  background: white;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
    /* 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
    /* sans-serif; */
    scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code { */
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
/* } */
