.learnersComponent {
  text-align: center;
  /* border: 1px solid red; */
}

.learnersComponent .container {
  /* border: 1px solid red; */
}

.learnersComponent h2 {
  padding-top: 10%;
}

.tracks {
  /* border: 1px solid red; */
}
.tracks div {
  background: #FFAF30;
  margin: .5em;
  /* height: 100px; */
  /* border: 2px solid #333; */
  border-radius: 10px;
  cursor: pointer;
  /* padding: .3em; */
}
.tracks button {
  font-size: 18px;
  /* border: 1px solid red; */
  width: 100%;
  /* margin: 0 auto; */
  /* padding: .5em; */
}

.breadcrump {
  text-align: left;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  margin-left: 11%;
  color: blue;
}

.learnersList {
  margin-top: 5%;
  /* border: 1px solid red; */
}

.learnerBio {
  border: 1px solid rgba(3, 3, 3, 0.3);
  text-align: center;
  height: 320px;
  margin: 1em .4em;
  padding: .5em 0;
}

.learnerBio div:nth-child(1) {
  /* border: 1px solid red; */
  padding: 2% 5%;
}

.learnerBio span {
  display: block;
  width: 30%;
  margin: 3% auto 0;
  cursor: pointer;
  color: #FFAF30;
  font-weight: 900;
}

.briefBio {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* padding: 3em .5em;s */
  margin-bottom: 1em;
  /* border: 1px solid red; */
  z-index: 5;
}

.briefBio .item {
  background: #ffffff;
  width: 60%;
  text-align: left;
  padding: 2em 3em;
  margin: 8% auto 0;
  overflow-y: scroll;
  height: 500px;
}

/* .learnerAbout { */
  /* overflow-y: scroll; */
  /* height: 200px; */
/* } */

.briefBio p {
  color: #444444;
}

.learnerBio img{
  width: 100px;
  height: 100px;
  /* border: 1px solid #333; */
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
  /* box-shadow: -3px 3px 0 0 rgba(3, 3, 3, 0.5); */
}

.briefBio img {
  width: 100%;
  height: 200px;
  /* border: 1px solid #333; */
  margin: .5em 0;
  /* border-radius: 100%; */
  cursor: pointer;
  /* box-shadow: -3px 3px 0 0 rgba(3, 3, 3, 0.5); */
}

.learnerBio img:hover {
  /* border: 3px solid #FFAF30; */
}

@media (max-width: 768px) {
  .briefBio .item {
    width: 95%;
    height: 400px;
    overflow-y: scroll;
    margin-top: 12%;
  }

  .learnersComponent h2 {
    padding-top: 30%;
    font-size: 30px;
  }
}