#videoComponent {
  padding: .5em 0;
  /* border: 2px solid #3359DF; */
  background: #000000;
  text-align: center;
  /* font-size: 18px; */
}

#videoComponent h1{
  color: #ffffff;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: .5em;
  /* padding: .5em 0; */
  /* border: 1px solid white; */
}

.video-discription {
  /* background: #3359DF; */
  /* color: #3359DF; */
  border: 5px solid #111111;
  padding: 2em;
  margin: 3em auto;
}

.iframe{
  /* display: block; */
  width: 80%;
  border: none;
  z-index: 1;
  /* text-align: left; */
}

@media (max-width: 768px) {
  iframe {
    height: 300px;
  }
}